:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
    --fs-body-base: 1rem;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Young Serif';
    font-weight: 400;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format(truetype);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: var(--fs-body-base);
    color: var(--stone-600);
    background-color: var(--white);
    min-height: 100vh;
    line-height: 1.5;
}

/* Mobile Approach First */
article {
    width: 100%;
}

img {
    width: 100%;
}

h1,
h2 {
    font-family: 'Young Serif', sans-serif;
    margin-bottom: 1.125rem;
}

h1 {
    font-size: 2.25rem;
    color: var(--stone-900);
    line-height: 1;
}

h2 {
    font-size: 1.75rem;
    color: var(--brown-800);
}

section {
    margin-bottom: 1.75rem;
}

section:last-child {
    margin-bottom: 0;
}

.recipe-container {
    padding: 2rem;
}

.recipe-container p {
    margin-bottom: 1.5rem;
}

.prep-time {
    background-color: var(--rose-50);
    border-radius: 1rem;
    padding: 1.5rem;
}

.prep-time > h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--rose-800);
    margin-bottom: .25rem;
}

section ul,
section ol {
    padding: 0 1.25rem;
}

ol li::marker {
    color: var(--brown-800);
    font-weight: 600;
}

li {
    margin-bottom: .5rem;
    padding-left: 1rem;
}

th {
    font-weight: 400;
}

td > strong {
    color: var(--brown-800);
}

hr {
    font-weight: 400;
    color: var(--stone-150);
    margin-bottom: 1.5rem;
}

section > h2 + p {
    width: 98%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    text-align: left;
    border-bottom: 1px solid var(--stone-150);
}

tr:first-child td, 
tr:first-child th{
    padding-top: 0;
}

tr:last-child {
    border-bottom: none;
}

td,
th {
    padding-left: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

td {
    padding-right: 2rem;
}

